@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 2300px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: auto;
    margin-right: auto;
}

.site-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    margin: 0 108px;
    font-family: Fenix;
    color: #E0B973;
}

.site-logo-link {
    display: inline-block;
    text-decoration: none;
    padding: 35px 40px;
    background: #14274A;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 130px;
}

.site-logo-link h4 {
    margin: 0;
    color: #E0B973;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.15em;
}

.site-logo-link p {
    color: #E0B973;
    margin-top: 13px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.6em;
}

.site-nav-list {
    display: flex;
    align-items: center;
    margin-right: 108px;
}

.site-nav-link {
    text-decoration: none;
    color: #fff;
    transition: 300ms ease;
}

.site-nav-link:hover {
    color: #E0B973;
}

.site-nav-item {
    list-style-type: none;
    margin-left: 88px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
}

.site-nav-item:first-child {
    margin-left: 0;
}

.header-text {
    position: absolute;
    left: 108px;
    top: 150px;
}

.header-title-text {
    margin-top: 50px;
}

.header-title-text h3 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    line-height: 61px;
}

.main-title {
    font-family: Fenix, sans-serif;
    font-weight: 400;
    font-size: 130px;
    color: #E0B973;
    margin: 0;
    padding: 0;
}

.main-title p {
    font-size: 60px;
    margin: 0;
    margin-top: 40px;
}

.header-des {
    font-family: Montserrat;
    font-size: 25px;
    color: #fff;
    margin-top: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1em;
    width: 580px;
}

.book-now-section {
    text-align: center;
    margin-top: 450px;
    display: flex;
    flex-direction: column;
}

.book-link {
    display: inline-block;
    color: #E0B973;
    padding: 24px 50px;
    background-color: #14274A;
    text-decoration: none;
    width: 387px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 1px;
}

.book-now-section img {
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.site-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 70px;
    background: #14274A;
}

.logo {
    color: #fff;
}

.footeer-nav-list {
    margin: 0;
    padding: 0;
}

.footer-nav-item {
    list-style-type: none;
}

.footer-nav-link {
    color: #F7F7F7;
    text-decoration: none;
}

.socials-list {
    margin: 0;
    padding: 0;
}

.socials-item {
    list-style-type: none;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

.socials-link {
    color: #F7F7F7;
    text-decoration: none;
}

.socials-link:hover {
    text-decoration: underline;
}

.sub-title {
    color: #F7F7F7;
}

.subscribe input {
    border: 2px solid #E0B973;
    background: #14274A;
    height: 50px;
    padding-left: 25px;
    margin-right: 0;
    color: #fff;
}

form {
    display: flex;
    align-items: center;
}

.ok {
    background: #E0B973;
    margin-left: -5px;
    border: none;
    height: 50px;
    width: 80px;
}