/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 40px;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 2300px;
    padding-left: 150px;
    padding-right: 150px;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    background-image: url('../images/landing-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1080px;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
}

.features {
    padding-top: 100px;
    padding-bottom: 50px;
}

.features-title {
    font-size: 36px;
    color: #14274a;
    text-align: center;
    margin-bottom: 70px;
    line-height: 44px;
}

.first-feature,
.second-feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-feature {
    margin-bottom: 70px;
}

.first-text {
    margin-right: 100px;
}

.feature-title {
    font-family: 'Fenix', serif;
    color: #14274a;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 67px;
    letter-spacing: 0.02em;
}

.feature-des {
    font-family: Montserrat;
    font-size: 25px;
    line-height: 40px;
    color: #14274A;
}

.explore {
    display: inline-block;
    color: #14274A;
    font-family: Montserrat;
    text-decoration: none;
    padding: 18px 60px;
    background-color: #E0B973;
    text-align: center;
    margin-left: 450px;
    border-radius: 4px;
    margin-right: auto;
}